.signUpBody {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  box-sizing: border-box;
  width: 100%;
  height:100%;
  gap: .5rem;
}
.signUpBody input {
  width: 300px;
  padding: 10px;
  border:0;
  outline: none;
  border-bottom: 1px solid #ccc;
}
