.footer
{
    background-color: var(--color-gray-300);
    display: flex;
    flex-direction: row;
    color: var(--reviewFont);
    width: 100%;
    padding: 3rem;
    gap: 1rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-top: 1px solid var(--reviewFont);
}
.footerCol
{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.footer a
{
    font-size: 12px;
}
.footer a:hover
{
    text-decoration: underline;
}
.footer p
{
    font-size: 12px;
}