.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal input
{
  outline: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  padding: .5rem;
}
.btns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: flex-end;
}
.modal textarea {
  resize: none;
  outline: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  padding: .5rem;
}
.modal button {
  width: 5rem;
  cursor: pointer;
}
