.profilePage
{
    display: flex;
    flex-direction: row;
}
.profileSideBar
{
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem - 6rem);
    width: 30%;
    border-right:1px solid var(--color-gray-500);
}
.profileSideBar img
{
    width: 35%;
    height: 20%;
    align-self: center;
    margin: 1rem;
}
.profileUpdate
{
    display: flex;
    flex-direction: column;
    height: calc(100vh- 4rem - 6rem);
    width: 100%;
}
